* {
  padding: 0%;
  margin: 0%;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 5px;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}


::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}


::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 4px;
}

/* * {
  outline: 1px solid #f00 !important;
} */

@media screen and (max-width:1000px) {
  * {
    font-size: small;
  }

  .navbar-container {
    height: 10vh;
  }

  .nav-name {
    font-size: medium;
    width: 50vw;
  }

  .navlinks {
    display: none;
  }

  .designation {
    font-size: medium;
  }

  .text-first {
    font-size: medium;
  }

  .svg-container {
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 55vh;
    gap: -1%;
  }

  .svg-container {
    zoom: 0.7;
  }

  .svg-container img {
    margin-top: 20%;
    width: 400px;
    height: 400px;
  }

  .landing-textContainer {
    height: 35vh;
    width: 100vw;
  }

  .landing-container {
    height: 90vh;
  }

  .roundbg {
    display: none;
  }

  .plusbg {
    display: none;
  }

  .about-content {
    display: flex;
    flex-wrap: wrap;
    height: auto;
  }

  .about-leftContent {
    width: 80%;
    height: auto;
  }

  .about-rightContent {
    width: 80%;
    height: auto;
  }

}