.contact-container {
  height: 75vh;
  background-color: black;
  position: relative;
}
.copyright {
  position: absolute;
  bottom: 0;
  color: white;
  text-align: center;
  width: 100%;
  padding-bottom: 1%;
}
.input-group {
  margin-top: 3%;
}

.thanks-container{
    margin-left: 10%;
}

.thanks-heading{
    color: rgb(26, 185, 185);
    font-size: 25px;
    margin-top: 2%;
}
.thanks-content{
    margin-top: 2%;
    font-size: 12px;
    text-align: justify;
    width: 90%;
}

.input-group input {
  background-color: black;
  border: none;
  border: 2px solid rgb(26, 185, 185);
  border-radius: 30px;
  height: 25px;
  width: 400px;
  color: white;
  padding: 10px;
}

.input-group textarea {
 padding: 10px;
  background-color: black;
  border: none;
  border: 2px solid rgb(26, 185, 185);
  border-radius: 20px;
  width: 400px;
  height: 75px;
  color: white;
}


.contact-button {
  background-color: black;
  border: 1px solid #5ce1e6;
  padding: 8px;
  border-radius: 20px;
  color: white;
  width: 150px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 2%;
}

.contact-button-2 {
  background-image: linear-gradient(45deg, #5ce1e6 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  transition: all 0.4s ease-in-out;
}

.contact-button-2:hover {
  background-position: 0;
  color: black;
}

.contact-button:active {
  transform: scale(0.9);
}




/* Media Query */

* {
  padding: 0%;
  margin: 0%;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

@media screen and (max-width:1000px) {
  * {
    font-size: small;
  }

  .navbar-container {
    height: 10vh;
  }

  .nav-name {
    font-size: medium;
    width: 50vw;
  }

  .navlinks {
    display: none;
  }

  .designation {
    font-size: medium;
  }

  .text-first {
    font-size: medium;
  }
  .text-container{
    font-size: medium;
  }

  .svg-container {
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 55vh;
    gap: -1%;
  }

  .svg-container {
    zoom: 1.2;
  }

  .svg-container img {
    margin-top: 50%;
    width: 400px;
    height: 400px;
  }

  .landing-textContainer {
    height: 35vh;
    width: 100vw;
  }

  .landing-container {
    height: 90vh;
  }

  .roundbg {
    display: none;
  }

  .plusbg {
    display: none;
  }
  .about-heading::after{
    font-size: 50px;
  }
  .about-content {
    display: flex;
    flex-wrap: wrap;
    height: auto;
  }
  .skills-heading::after{
    font-size: 50px;
  }
  .about-leftContent {
    width: 80%;
    height: auto;
  }

  .about-rightContent {
    width: 80%;
    height: auto;
  }

  .skills-container{
    height: auto;
  }
  .grid-container{
    zoom: 0.7;
  }
  .project-container{
    height: auto;
  }
  .project-heading::after{
    font-size: 50px;
  }
  .team-container{
    height: auto;
  }
  .team-heading::after{
    font-size: 50px;
  }
  .contact-container{
    height:auto
  }
  .contact-heading::after{
    font-size: 50px;
  }
  .contact-content2{
    zoom: 0.67;
    margin-top: 5%;
    margin-left: 10%;
    padding-bottom: 10%;
  }
  .contact-content1{
    width: 100%;
  }

}