.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10vh;
  background-color: #062133;
  color: white;
  position: fixed;
  top: 0;
  z-index: 10000;
  transition: all 0.6s ease-in-out;
}

.navbar-scrolled {
  background-color: black !important;
  color: white;
  animation: navbaranimation 0.6s;
}

@keyframes navbaranimation {
  0% {
    height: 0vh;
  }
  100% {
    height: 10vh;
  }
}
.navlinks {
  display: flex;
  gap: 3%;
  width: 50vw;
}
.nav-name {
  width: 25vw;
  padding-left: 5%;
  font-size: xx-large;
  font-weight: 400;
  color: #5ce1e6;
  cursor: pointer;
}
.nav-icons {
  padding-right: 5%;
  font-size: 15px;
  display: flex;
  gap: 7%;
}

.nav-icons a i {
  color: white;
  font-size: 30px;
  transition: all ease-in-out 0.3s;
}

.nav-icons a i:hover {
  scale: 1.2;
  color: #5ce1e6;
  transform: translateY(-3px);
}

.navlinks a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 500;
  transition: all ease-in 0.3s;
}

.navlinks a:hover {
    transform: translateY(-3px);
  color: rgb(26, 185, 185);
}

.navlinks a:active {
  transform: scale(0.8);
}

.navbar-container-2 {
  display: none;
}