.team-container {
  height: 80vh;
  width: 100%;
  padding-bottom: 10%;
}
#myteam {
  padding-top: 5vh;
}
.team-heading {
  position: relative;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}
.team-heading::after {
  content: "Who With Me";
  position: absolute;
  font-size: 70px;
  z-index: -1;
  font-weight: 900;
  color: rgba(6, 33, 51, 0.1);
}

.team-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
  gap: 5%;
  flex-wrap:wrap
}

.team-card {
  height: 300px;
  width: 250px;
  margin-top: 3%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: #062133;
  transition: all ease-in-out 0.3s;
}

.team-image {
  margin-top: 15%;
  width: 150px;
  height: 140px;
  border-radius: 50%;
  border: 5px solid #ffff;
  overflow: hidden;
  transition: all ease-in-out 0.3s;
}

.team-card:hover {
  transform: translateY(-3px);
}

.team-card:hover .team-image {
  box-shadow: 0 0 10px rgba(92, 255, 230, 0.6);
}

.team-card:hover .team-name {
  text-shadow: 0 0 10px rgba(92, 255, 230, 0.6);
}

.team-card:hover .team-designation {
  text-shadow: 0 0 10px rgba(92, 255, 230, 0.6);
}

.team-designation {
  color: #fff;
  transition: all ease-in-out 0.3s;
}

.team-name {
  font-size: 20px;
  margin-top: 3%;
  transition: all ease-in-out 0.3s;
  color: rgb(92, 225, 230);
}

.contact-heading {
  position: relative;
  height: 15vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 25px;
}
.contact-heading::after {
  content: "Get in Touch";
  position: absolute;
  font-size: 70px;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.2);
}
.contact-content{
    display: flex;
    color: white;
    flex-wrap: wrap;
}
.contact-content1{
    width: 50%;
}
.contact-group{
    width: 90%;
    display: flex;
    align-items: center;
    gap: 3%;
    margin-left: 10%;
    padding-top: 4%;
}


.contact-group i{
    /* color: rgb(92, 225, 230); */
    filter: drop-shadow(1px 2px 2px rgb(92, 225, 230));
    font-size: 30px;
}